.footer {
	background-color: $dark-primary-color;
	height: 180px;
	@include clearfix();
	position: relative;

	.footer-wrap {
		max-width: 1680px;
		margin: 0 auto;
		display: block;
		position: relative;
		height: 100%;

		.svg-icon {
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 16px;
			height: 96px;
			width: 96px;

			path {
				fill: $grey-50;
			}
		}

		.copyright {
			color: $grey-50;
			letter-spacing: 1px;
			font-size: 12px;
			text-transform: uppercase;
			position: absolute;
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
			display: block;

			.red {
				color: $red-500;
			}
		}
	}
}
